.RadioButton {
  padding-left: 28px;
}

.RadioButton__Checkmark {
  transition: border-color 200ms;
}

.RadioButton:hover input ~ .RadioButton__Checkmark {
  border-color: #888888;
}

.RadioButton:hover input:checked ~ .RadioButton__Checkmark {
  border-color: #011950;
}

.RadioButton input:checked ~ .RadioButton__Checkmark {
  border-color: #011950;
}

.RadioButton input:checked ~ .RadioButton__Checkmark > div {
  display: block;
  width: 10px;
  height: 10px;
}

.RadioButton__Checkmark:after {
  display: none;
}
